name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set Version
      id: version
      run: echo "VERSION=$(date +%s)" >> $GITHUB_ENV

    - name: Build the Docker image
      run: docker build . --file Containerfile --tag ghcr.io/${{ github.repository_owner }}/rapidctl-container:${{ env.VERSION }}

    - name: Push the Docker image
      run: docker push ghcr.io/${{ github.repository_owner }}/rapidctl-container:${{ env.VERSION }}
